/.gradle
/.idea
/sjt-project.iml
/manage/src/main/resources/static/js
/manage/src/main/resources/static/css
/manage/src/main/resources/static/fonts
/manage/src/main/resources/static/img
/manage/src/main/resources/static/ueditor
/manage/src/main/resources/templates/index/index.htm
/manage/out
/api/out
/core/out
/cms-web/out
/cms-wap/out
/docs/uploads/image
/manage/build
/api/build
/core/build
/cms-web/build
/cms-wap/build
