<div class="footer" th:utext="${sectionComm.footer}">
    <ul class="bot1">
        <li><a href="">关于我们</a></li>
        <li><a href="">版权声明</a></li>
        <li><a href="">合作说明</a></li>
        <li><a href="">联系我们</a></li>
        <li><a href="">一点业商城</a></li>
        <li class="bot1last"><a href="">友情链接</a></li>
    </ul>
    <div class="bot2">Copyright © 2017-2018 The Paper All rights reserved.北京中科网软科技有限公司   京ICP备15035481号</div>
    <div class="bot3"><a href="">沪公网安备31002645645454号</a></div>
</div>
<!-- 右侧浮动按钮 -->
<ul class="rightFloat">
    <!--    <li><a href=""><i class="fa fa-share-alt"></i></a></li>
        <li><a href=""><i class="fa fa-weixin"></i></a></li>
        <li><a href=""><i class="fa fa-envelope"></i></a></li>
        <li><a href=""><i class="fa fa-map-marker"></i></a></li>-->
    <li id="go-top"><i class="fa fa-arrow-up"></i></li>
</ul>
<script>
    Date.prototype.format = function(format){
        var o = {
            "M+" : this.getMonth()+1, // month
            "d+" : this.getDate(), // day
            "h+" : this.getHours(), // hour
            "m+" : this.getMinutes(), // minute
            "s+" : this.getSeconds(), // second
            "q+" : Math.floor((this.getMonth()+3) / 3), // quarter
            "S" : this.getMilliseconds() // millisecond
        };
        if(/(y+)/.test(format)) {
            format = format.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
        }
        for(var k in o) {
            if(new RegExp("("+ k +")").test(format)) {
                var temp = RegExp.$1.length == 1 ? o[k] : ("00"+ o[k]).substr((""+ o[k]).length);
                format = format.replace(RegExp.$1, temp);
            }
        }
        return format;
    };
    function Web_formatDateTime(dateVal) {
        if(!dateVal) return '';
        var dateObj = new Date(dateVal);
        return dateObj.format('yyyy-MM-dd hh:mm:ss');
    }
    $('.search').children('input').on('keyup', function (e) {
        if(e.keyCode ==13){
            window.location.href = '/search?keyword=' + $(this).val();
        }
    });
    $('.search').children('.fa-search').on('click', function (e) {
        window.location.href = '/search?keyword=' + $(this).parent().children('input').val();
    });
</script>