<div class="footer" th:utext="${sectionComm.footer}">
    <ul class="bot1">
        <li><a href="">关于我们</a></li>
        <li><a href="">版权声明</a></li>
        <li><a href="">合作说明</a></li>
        <li><a href="">联系我们</a></li>
        <li><a href="">一点业商城</a></li>
        <li class="bot1last"><a href="">友情链接</a></li>
    </ul>
    <div class="bot2">Copyright © 2017-2018 The Paper All rights reserved.北京中科网软科技有限公司   京ICP备15035481号</div>
    <div class="bot3"><a href="">沪公网安备31002645645454号</a></div>
</div>