<div class="cont_r rt" th:utext="${sectionIndex.rigthSide}">
    <!-- 电话 -->
    <div class="phone1"><img th:src="@{{url}/images/phone.png(url=${staticUrl})}"></div>
    <!-- 幻灯片2 -->
    <div class="slider-outer" id="j_silder_outer">
        <div class="img-item">
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
        </div>
        <div class="img-item">
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
        </div>
        <div class="img-item">
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
        </div>
        <div class="img-item">
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
        </div>
        <div class="img-item">
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
        </div>
        <div class="btns" data-num="0">
            <div class="prev"><</div>
            <div class="next">></div>
        </div>
    </div>
    <!-- 服务机构 -->
    <div class="service_jg">
        <div class="ser_til"><span>服务机构</span></div>
        <ul>
            <li><a href=""><img th:src="@{{url}/images/jg1.png(url=${staticUrl})}"></a></li>
            <li><a href=""><img th:src="@{{url}/images/jg2.png(url=${staticUrl})}"></a></li>
        </ul>
    </div>
    <!-- 精选优品 -->
    <div class="service_jg">
        <div class="ser_til"><span>精选优品</span></div>
        <ul>
            <li><a href=""><img th:src="@{{url}/images/jx1.png(url=${staticUrl})}"></a></li>
            <li><a href=""><img th:src="@{{url}/images/jx2.png(url=${staticUrl})}"></a></li>
        </ul>
    </div>
    <!-- 联系我们 -->
    <div class="index_contact">
        <div class="contact_til"><span>联系我们</span></div>
        <div class="erweima">
            <div class="erwm1"><img th:src="@{{url}/images/dyh.png(url=${staticUrl})}"><br>一点业订阅号</div>
            <div class="erwm2"><img th:src="@{{url}/images/fwh.png(url=${staticUrl})}"><br>一点业服务号</div>
        </div>
        <div class="phone2"><img th:src="@{{url}/images/phone2.png(url=${staticUrl})}"></div>
    </div>
</div>