<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <title th:text="${page.title}">一点业</title>
    <meta name="keywords" th:content="${page.keywords}" />
    <meta name="description" th:content="${page.description}" />
    <link rel="icon" href="favicon.ico" mce_href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{{url}/css/font-awesome-4.7.0/css/font-awesome.min.css(url=${staticUrl})}"/>
    <link rel="stylesheet" th:href="@{{url}/css/reset.css(url=${staticUrl})}">
    <link rel="stylesheet" th:href="@{{url}/css/style.css(url=${staticUrl})}">
    <link rel="stylesheet" th:href="@{{url}/css/jsmodern-1.1.1.min.css(url=${staticUrl})}">
    <script th:src="@{{url}/js/jquery-2.1.1.js(url=${staticUrl})}"></script>
    <script th:src="@{{url}/js/jsmodern-1.1.1.min.js(url=${staticUrl})}"></script>
    <script type="text/javascript" th:src="@{{url}/js/jquery.min.js(url=${staticUrl})}"></script>
    <!-- 首页幻灯片 -->
    <script type="text/javascript" th:src="@{{url}/js/jquery.js(url=${staticUrl})}"></script>
    <script type="text/javascript" th:src="@{{url}/js/lrtk.js(url=${staticUrl})}"></script>
    <style type="text/css" th:inline="text">
        .box {
            height: 30px;
        }
        .box span{
            font-size: 12px;
            color: #999;
            float: left;
        }
        .box > div {
            width: 16px;
            height: 16px;
            float: left;
            cursor: pointer;
            border-radius: 4px;
            background-size: contain;
            margin: 0 3px;
        }
        #share-qrcode { background-image: url([[${staticUrl}]]/images/wechat.png); }
        #share-douban { background-image: url([[${staticUrl}]]/images/db.png); }
        #share-qzone { background-image: url([[${staticUrl}]]/images/qzone.png); }
        #share-sina { background-image: url([[${staticUrl}]]/images/sina.png); }
        #share-qq { background-image: url([[${staticUrl}]]/images/qq.png); }
    </style>
</head>
<body>
<div class="header">
    <div class="top1">
        <div class="cont" th:utext="${sectionComm.topTips}">
            <div class="welcome lf"><i class="fa fa-file-text"></i>康美生态圈、大健康共创共享平台！</div>
            <ul class="topnav rt">
                <li><a href="">品牌介绍</a></li>
                <li><a href="">联系我们</a></li>
                <li><a href="">合作加盟</a></li>
            </ul>
        </div>
    </div>
    <div class="top2">
        <div class="cont">
            <div class="logo lf"><a href=""><img th:src="@{{url}/images/logo.png(url=${staticUrl})}"></a></div>
            <ul class="menu lf" th:each="collect,iterStat : ${menu}">
                <li><a th:href="${collect.url}" th:target="${collect.target}" th:text="${collect.name}">导航菜单</a></li>
                <!-- <li class="showSubmenu"><a href="javascript:void(0)"><img th:src="@{{url}/images/bot.png(url=${staticUrl})}"></a></li> -->
            </ul>
            <div class="kjbtn">
                <div class="arra"><i class="fa fa-angle-down"></i></div>
                <div class="index_search lf"><i class="fa fa-search"></i></div>
                <div class="search">
                    <input type="text" placeholder="输入关键字" name="">
                    <i class="fa fa-search"></i>
                </div>
                <div class="shopping lf" th:utext="${sectionComm.link}"><a href="">一点商城</a></div>
                <div class="loginbtn lf"><a href="">登录</a></div>
            </div>
        </div>
        <div class="subMenu">
            <div class="cont">
                <ul class="" th:each="collect,iterStat : ${category}">
                    <li><a th:href="${collect.url}" th:target="${collect.target}" th:text="${collect.name}">栏目名称</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="cont">
        <div class="cont_l lf">
            <!-- 幻灯片 -->
            <div id="zSlider" th:utext="${sectionIndex.carousel}">
                <div id="picshow">
                    <div id="picshow_img">
                        <ul>
                            <li><a href="" target="_blank"><img th:src="@{{url}/images/1.jpg(url=${staticUrl})}"></a></li>
                            <li><a href="" target="_blank"><img th:src="@{{url}/images/2.jpg(url=${staticUrl})}"></a></li>
                            <li><a href="" target="_blank"><img th:src="@{{url}/images/3.jpg(url=${staticUrl})}"></a></li>
                            <li><a href="" target="_blank"><img th:src="@{{url}/images/4.jpg(url=${staticUrl})}"></a></li>
                            <li><a href="" target="_blank"><img th:src="@{{url}/images/5.jpg(url=${staticUrl})}"></a></li>
                            <li><a href="" target="_blank"><img th:src="@{{url}/images/6.jpg(url=${staticUrl})}"></a></li>
                        </ul>
                    </div>
                    <div id="picshow_tx">
                        <ul>
                            <li><a href="" target="_blank">中国死飞店铺推介：上海死飞店FACTORY FIVE</a></li>
                            <li><a href="" target="_blank">骑看世界：纯美的世界恬静的心冰岛骑游之旅</a></li>
                            <li><a href="" target="_blank">空气糟糕透了！推荐几款实用的骑行防毒口罩</a></li>
                            <li><a href="" target="_blank">[组图]1200万像素带Wi-Fi 骑行记录仪Gopro Hero3评测</a></li>
                            <li><a href="" target="_blank">张向东：南非无危险的骑行与有纠结的ubuntu(组图)</a></li>
                            <li><a href="" target="_blank">单车文化课堂⑥：学会撬胎补胎爆胎不再烦</a></li>
                        </ul>
                    </div>
                </div>
                <div id="select_btn">
                    <ul>
                        <li><a href="" target="_blank">新闻</a></li>
                        <li><a href="" target="_blank">观点</a></li>
                        <li><a href="" target="_blank">跨界</a></li>
                        <li><a href="" target="_blank">产品</a></li>
                        <li><a href="" target="_blank">项目</a></li>
                        <li><a href="" target="_blank">机构</a></li>
                    </ul>
                </div>
            </div>
            <!-- 新闻 -->
            <ul class="news_tab" th:utext="${sectionIndex.tabs}">
                <li data-category="" class="news_act">全部</li>
                <li data-category="1">医疗</li>
                <li data-category="2">美容</li>
                <li data-category="3">健康</li>
                <li data-category="4">养生</li>
            </ul>
            <div class="news_info">
                <!-- 全部 -->
                <ul class="thisclass hidden" id="js-nextpage-container"></ul>
                <div class="news_more">更多>></div>
            </div>
        </div>
        <!-- 右侧 -->
        <div class="cont_r rt" th:utext="${sectionIndex.rigthSide}">
            <!-- 电话 -->
            <div class="phone1"><img th:src="@{{url}/images/phone.png(url=${staticUrl})}"></div>
            <!-- 幻灯片2 -->
            <div class="slider-outer" id="j_silder_outer">
                <div class="img-item">
                    <div class="img"></div>
                    <div class="img"></div>
                    <div class="img"></div>
                    <div class="img"></div>
                </div>
                <div class="img-item">
                    <div class="img"></div>
                    <div class="img"></div>
                    <div class="img"></div>
                    <div class="img"></div>
                </div>
                <div class="img-item">
                    <div class="img"></div>
                    <div class="img"></div>
                    <div class="img"></div>
                    <div class="img"></div>
                </div>
                <div class="img-item">
                    <div class="img"></div>
                    <div class="img"></div>
                    <div class="img"></div>
                    <div class="img"></div>
                </div>
                <div class="img-item">
                    <div class="img"></div>
                    <div class="img"></div>
                    <div class="img"></div>
                    <div class="img"></div>
                </div>
                <div class="btns" data-num="0">
                    <div class="prev"><</div>
                    <div class="next">></div>
                </div>
            </div>
            <!-- 服务机构 -->
            <div class="service_jg">
                <div class="ser_til"><span>服务机构</span></div>
                <ul>
                    <li><a href=""><img th:src="@{{url}/images/jg1.png(url=${staticUrl})}"></a></li>
                    <li><a href=""><img th:src="@{{url}/images/jg2.png(url=${staticUrl})}"></a></li>
                </ul>
            </div>
            <!-- 精选优品 -->
            <div class="service_jg">
                <div class="ser_til"><span>精选优品</span></div>
                <ul>
                    <li><a href=""><img th:src="@{{url}/images/jx1.png(url=${staticUrl})}"></a></li>
                    <li><a href=""><img th:src="@{{url}/images/jx2.png(url=${staticUrl})}"></a></li>
                </ul>
            </div>
            <!-- 联系我们 -->
            <div class="index_contact">
                <div class="contact_til"><span>联系我们</span></div>
                <div class="erweima">
                    <div class="erwm1"><img th:src="@{{url}/images/dyh.png(url=${staticUrl})}"><br>一点业订阅号</div>
                    <div class="erwm2"><img th:src="@{{url}/images/fwh.png(url=${staticUrl})}"><br>一点业服务号</div>
                </div>
                <div class="phone2"><img th:src="@{{url}/images/phone2.png(url=${staticUrl})}"></div>
            </div>
        </div>
    </div>
</div>
<div class="footer" th:utext="${sectionComm.footer}">
    <ul class="bot1">
        <li><a href="">关于我们</a></li>
        <li><a href="">版权声明</a></li>
        <li><a href="">合作说明</a></li>
        <li><a href="">联系我们</a></li>
        <li><a href="">一点业商城</a></li>
        <li class="bot1last"><a href="">友情链接</a></li>
    </ul>
    <div class="bot2">Copyright © 2017-2018 The Paper All rights reserved.北京中科网软科技有限公司   京ICP备15035481号</div>
    <div class="bot3"><a href="">沪公网安备31002645645454号</a></div>
</div>
<!-- 右侧浮动按钮 -->
<ul class="rightFloat">
<!--    <li><a href=""><i class="fa fa-share-alt"></i></a></li>
    <li><a href=""><i class="fa fa-weixin"></i></a></li>
    <li><a href=""><i class="fa fa-envelope"></i></a></li>
    <li><a href=""><i class="fa fa-map-marker"></i></a></li>-->
    <li id="go-top"><i class="fa fa-arrow-up"></i></li>
</ul>
</body>
<!-- 菜单高亮 -->
<script type="text/javascript" th:src="@{{url}/js/menu.js(url=${staticUrl})}"></script>
<!-- 选项卡 -->
<script type="text/javascript" th:src="@{{url}/js/tab.js(url=${staticUrl})}"></script>
<!-- 幻灯片2 -->
<script type="text/javascript" th:src="@{{url}/js/slide2.js(url=${staticUrl})}"></script>
<!-- 回到顶部 -->
<script type="text/javascript" th:src="@{{url}/js/backTop.js(url=${staticUrl})}"></script>
<!-- 导航跟随 -->
<script type="text/javascript" th:src="@{{url}/js/nav.js(url=${staticUrl})}"></script>
<script>
    jsModern.share({
        qrcode: "#share-qrcode",
        douban: "#share-douban",
        qzone: "#share-qzone",
        sina: "#share-sina",
        qq: "#share-qq"
    });
    Date.prototype.format = function(format){
        var o = {
            "M+" : this.getMonth()+1, // month
            "d+" : this.getDate(), // day
            "h+" : this.getHours(), // hour
            "m+" : this.getMinutes(), // minute
            "s+" : this.getSeconds(), // second
            "q+" : Math.floor((this.getMonth()+3) / 3), // quarter
            "S" : this.getMilliseconds() // millisecond
        };
        if(/(y+)/.test(format)) {
            format = format.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
        }
        for(var k in o) {
            if(new RegExp("("+ k +")").test(format)) {
                var temp = RegExp.$1.length == 1 ? o[k] : ("00"+ o[k]).substr((""+ o[k]).length);
                format = format.replace(RegExp.$1, temp);
            }
        }
        return format;
    };
    function Web_formatDateTime(dateVal) {
        if(!dateVal) return '';
        var dateObj = new Date(dateVal);
        return dateObj.format('yyyy-MM-dd hh:mm:ss');
    }
</script>
<script type="text/javascript" th:src="@{{url}/js/baiduTemplate.js(url=${staticUrl})}"></script>
<script type="text/javascript" th:src="@{{url}/js/jquery.nextpage.js(url=${staticUrl})}"></script>
<script id="js-nextpage-template" type="text/html">
    <% for (var i in rows) { var info = rows[i]; %>
    <li>
        <% if(info.thumbUrl != '') { %>
        <div class="lf news_pic"><a href="<%=info.url%>" target="<%=info.target%>"><img src="<%=info.thumbUrl%>"></a></div>
        <% } %>
        <div class="<%=info.thumbUrl != '' ? 'rt news_intro' : 'news_intro_full'%>">
            <div class="news_til"><a href="<%=info.url%>" target="<%=info.target%>"><%=info.title%></a></div>
            <% if(info.description != '') { %>
            <div class="news_comm"><%=info.description%></div>
            <% } %>
            <div class="news_time"><span class="lf"><a href=""><%=info.categoryIdName%>   |  <%=Web_formatDateTime(info.publishTime)%></a></span>
                <div class="box rt">
                    <span>分享到：</span>
                    <div id="share-douban" title="豆瓣分享"></div>
                    <div id="share-qzone" title="QQ空间分享"></div>
                    <div id="share-sina" title="新浪微博分享"></div>
                    <div id="share-qq" title="QQ好友分享"></div>
                </div>
            </div>
        </div>
    </li>
    <% } %>
</script>
</html>